<h1 mat-dialog-title>Editar empleado</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>País</mat-label>
        <mat-select [(ngModel)]="data.country" name="country">
            <mat-option *ngFor="let country of data.countries"  [value]="country">
                {{country}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cerrar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="checkForm()">Ok</button>
</div>